**/*venv*
**/*env*
**/*__pycache__*
**/*.pyc
**/*.pyo
**/*.pyd
**/*.db
**/*.sqlite3
**/*.log
**/*.egg-info
**/*.dist-info
**/.pytest_cache
**/.mypy_cache
**/.tox
**/.coverage
**/.vscode
**/.idea
**/.DS_Store
**/node_modules
**/bower_components
**/node_modules
**/dist
**/build
**/coverage
**/logs
**/tmp
**/temp
**/cache
**/public
**/private
**/secrets
**/target
