**/*venv**
**/__pycache__**
**/*.pyc**
**/*.pyo**
**/*.pyd**
**/.pytest_cache**
**/.mypy_cache**
**/.coverage**
**/.vscode/**
**/.idea/**
**/.DS_Store**
**/node_modules/**
**/dist/**
**/build/**
**/coverage/**
**/logs/**
**/tmp/**
**/static/**
**/media/**
**/env/**
**/venv/**
**/pip-log.txt**
**/pip-selfcheck.json**
